.about-us {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us__title {
  display: flex;
  justify-content: flex-start;
  width: 264px;
  margin-top: 27px;
  margin-bottom: 3px;
  .titlefont;
}

.about-us__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-us__item {
  margin-top: 45px;
  text-decoration: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}

.about-us__lists {
  display: flex;
  flex-direction: column;
  width: 260px;
}

.about-us__icon--flower::before {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  top: -15px;
  left: 7px;
  right: 0;
  width: auto;
  height: 38px;
  background: url("../img/icon-feature-flower.svg") no-repeat left top;
}

.about-us__icon--money::before {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  top: -15px;
  left: 0;
  right: 0;
  width: auto;
  height: 38px;
  background: url("../img/icon-feature-money.svg") no-repeat left top;
}

.about-us__icon--heart::before {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  top: -11px;
  left: 7px;
  right: 0;
  width: auto;
  height: 38px;
  background: url("../img/icon-feature-heart.svg") no-repeat left top;
}

.about-us__icon--boll::before {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  top: -12px;
  left: 3px;
  right: 0;
  width: auto;
  height: 38px;
  background: url("../img/icon-feature-ball.svg") no-repeat left top;
}

.about-us__icon--rocket::before {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  top: -13px;
  left: -7px;
  width: auto;
  height: 38px;
  background: url("../img/icon-feature-rocket.svg") no-repeat left top;
}

.about-us__icon--gift::before {
  content: "";
  display: block;
  position: relative;
  bottom: 0;
  top: -14px;
  left: 2px;
  right: 0;
  width: auto;
  height: 38px;
  background: url("../img/icon-feature-gift.svg") no-repeat left top;
}

@media (min-width: @size-tablet) {
  .about-us__lists {
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    margin-left: 8px;
  }

  .about-us__list {
    min-height: 460px;
    width: 334px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .about-us__item {
    margin-top: 57px;
    font-size: 20px;
    line-height: 22px;
  }

  .about-us__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 48px;
    margin-left: 0;
    width: 678px;
  }
}

@media (min-width: @size-desktop) {
  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us__lists {
    margin-right: 60px;
    width: 644px;
  }

  .about-us__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 60px;
    margin-right: 55px;
    width: 652px;
  }
}
