
.backstage {
  .indentm;
}

.backstage__title {
  font-size: 17px;
  line-height: 24px;
}

.backstage__option {
  font-size: 13px;
  line-height: 24px;
}

.backstage__option--grey {
  color: @textgrey;
}

.backstage__link {
  font-size: 17px;
  line-height: 16px;
  text-decoration: none;
}

.backstage__link--black {
  color: @textblack;
}
