.backstage {
  box-sizing: border-box;
}

.backstage__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid @border;
  width: 260px;
  margin-top: 30px;
  margin-bottom: 58px;
}
// .backstage__info {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   border: 1px solid @border;
// }

.backstage__title {
  font-size: 17px;
  line-height: 24px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
  margin-top: 18px;
  margin-bottom: 25px;
}

.backstage__title::before {
  content: "";
  display: block;
  position: absolute;
  top: 25px;
  left: 35px;
  width: 30px;
  height: 27px;
  background: url("../img/icon-video.svg") no-repeat top center;
}

.backstage__option {
  font-size: 13px;
  line-height: 24px;
  display: flex;
  width: 200px;
  margin-left: 10px;
  margin-top: 18px;
  margin-bottom: 25px;
}

.backstage__option--grey {
  color: @textgrey;
}

.backstage__image {
  width: 259px;
  height: 150px;
}

.backstage__title::after {
  content: "";
  display: block;
  position: absolute;
  top: 125px;
  left: 80px;
  width: 102px;
  height: 77px;
  background: url("../img/icon-play.svg") no-repeat top center;
  // z-index: 2;
}

.backstage__title:hover::after,
.backstage__title:focus::after {
  content: "";
  display: block;
  position: absolute;
  top: 190px;
  left: 280px;
  width: 121px;
  height: 92px;
  background: url("../img/icon-play-h.svg") no-repeat top center;
}

.backstage__title:active::after {
  content: "";
  display: block;
  position: absolute;
  top: 195px;
  left: 285px;
  width: 81px;
  height: 62px;
  opacity: 0.3;
  background: url("../img/icon-play-a.svg") no-repeat top center;
}

.backstage__link {
  font-size: 17px;
  text-transform: uppercase;
  line-height: 16px;
  text-decoration: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: @borderbutton 2px solid;
  padding: 20px;
  width: 192px;
  height: 52px;
  margin-bottom: 30px;
}

.backstage__link:hover,
.backstage__link:focus {
  .button-hover;
}
.backstage__link:active {
  .button-active;
}

.backstage__link--black {
  color: @textblack;
}

@media (min-width: @size-tablet) {
  .backstage__info {
    width: 668px;
    margin-top: 50px;
    margin-bottom: 65px;
    display: flex;
    flex-direction: column;
  }

  .backstage__image {
    width: 668px;
    height: 455px;
  }

  .backstage__img {
    display: flex;
    order: -1;
  }

  .backstage__title {
    font-size: 20px;
    line-height: 24px;
    width: 300px;
    margin-top: 30px;
    margin-left: 105px;
    margin-bottom: 17px;
    display: flex;
    justify-content: flex-start;
  }

  .backstage__option {
    font-size: 15px;
    line-height: 30px;
    width: 584px;
    margin-top: 15px;
    margin-right: 15px;
    margin-bottom: 35px;
  }

  .backstage__option br {
    display: none;
  }

  .backstage__link {
    width: 584px;
    margin-bottom: 45px;
  }

  .backstage__title::before {
    content: "";
    display: block;
    position: absolute;
    top: 488px;
    left: 41px;
    width: 30px;
    height: 27px;
    background: url("../img/icon-video.svg") no-repeat top center;
  }

  .backstage__title::after {
    content: "";
    display: block;
    position: absolute;
    top: 190px;
    left: 279px;
    width: 102px;
    height: 77px;
    background: url("../img/icon-play.svg") no-repeat top center;
  }
}

@media (min-width: @size-desktop) {
  .backstage {
    padding-top: 5px;
    margin-bottom: 105px;
  }

  .backstage__info {
    width: 1050px;
    height: 455px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .backstage__image {
    width: 683px;
    height: 455px;
    position: relative;
    right: 30px;
    top: 0;
  }

  .backstage__link,
  .backstage__option,
  .backstage__title {
    width: 231px;
    padding-left: 0;
    margin-left: 0;
    margin-right: 31px;
  }

  .backstage__title {
    margin-top: 98px;
  }

  .backstage__link {
    margin-top: 10px;
  }

  .backstage__title::before {
    content: "";
    display: block;
    position: absolute;
    top: 44px;
    left: 761px;
    width: 30px;
    height: 27px;
    background: url("../img/icon-video.svg") no-repeat top center;
  }

  .backstage__title::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 2;
    top: 190px;
    left: 290px;
    width: 102px;
    height: 77px;
    background: url("../img/icon-play.svg") no-repeat top center;
  }
}
