
.catalog__header {
  background-color: @grey;
  height: 177px;
}

.catalog__item {
  .indentm;
}
.catalog__title {
  font-size: 27px;
}

.catalog__name {
  font-size: 14px;
  line-height: 24px;
}

.catalog__option {
  font-size: 13px;
  line-height: 30px;
}

 .catalog__option--grey {
  color: @textgrey;
}

.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}
