.catalog {
  margin: 0;
}

.catalog__list {
  min-height: 1267px;
  list-style-type: none;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0;
}

.catalog__header {
  display: flex;
  align-items: center;
  background-color: @grey;
  height: 177px;
  .indentzero;
}

.catalog__item {
  .indentzero;
}

.catalog__title {
  font-size: 27px;
}

.catalog__name {
  font-size: 14px;
  line-height: 24px;
}

.catalog__option {
  font-size: 13px;
  line-height: 30px;
}

.catalog__option--grey {
  color: @textgrey;
}

.catalog__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

@media (min-width: @size-tablet) {
  .catalog__header {
    min-height: 226px;
  }

  .catalog {
    padding-left: 50px;
    padding-right: 50px;
  }

  .catalog__list {
    min-height: 1242px;
  }

  .catalog__item {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: @size-desktop) {
  .catalog__header {
    min-height: 254px;
  }

  .catalog__list {
    display: flex;
    flex-direction: row;
    min-height: 827px;
  }

  .catalog__item {
    display: flex;
    flex-direction: column;
  }
}
