.comments {
  .indentm;
}
.commets__title {
  .titlefont;
}

.comments__author {
  font-size: 17px;
  line-height: 30px;
}

.comments__link {
  .text-button;
}

.comments__text--grey,
.comments__author--grey,{
  color: @textgrey;
}
