
.contacts {
  .indentm;
  display: flex;
  flex-direction: column;
}

.contacts__title {
  .titlefont;
}
/*.contacts__map {
  background: url("../img/map-mobile@1x.jpg") no-repeat top;
  height: 457px;
}*/

.contacts__link {
  .text-button;
}

// @media (min-width: @size-tablet) {
//   .contacts {
//   }
// }
//
// @media (min-width: @size-desktop) {
//   .contacts {
//   }
// }
