.form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form-header__delivery {
  display: none;
}

.form__background {
  background-color: @grey;
}

.form-header {
  min-height: 177px;
  background-color: @grey;
  // height: 177px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__title {
  font-size: 27px;
  line-height: 30px;
  padding-bottom: 9px;
  margin: 0;
}

@media (min-width: @size-tablet) {
  .form-header {
    min-height: 225px;
    background-color: @grey;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-header__delivery {
    display: flex;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    position: relative;
    bottom: 50px;
    left: 218px;
    .indentzero;
  }

  .form__title {
    font-size: 43px;
    line-height: 50px;
    margin-bottom: 9px;
  }

  .form-header::after {
    content: "";
    display: block;
    position: absolute;
    top: 305px;
    left: 0;
    right: 0;
    height: 34px;
    background: url("../img/bg-zigzag-fill.svg") no-repeat top center;
    background-size: contain;
  }
}

@media (min-width: @size-desktop) {
  .form-header {
    min-height: 254px;
    background-color: @grey;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-header__delivery {
    bottom: 52px;
    left: 412px;
  }

  .form__title {
    font-size: 53px;
    line-height: 57px;
    margin-left: 7px;
    margin-bottom: 29px;
  }

  .form-header::after {
    content: "";
    display: block;
    position: absolute;
    top: 328px;
    left: 0;
    right: 0;
    height: 34px;
    background: url("../img/bg-zigzag-fill.svg") no-repeat top center;
    background-size: contain;
  }
}
