.form {
  margin: 0;
  padding: 0;
}

.form-header {
  min-height: 177px;
  background-color: @grey;
  height: 177px;
  margin: 0;
}

.form__title {
  margin: 0;
}

.filters-box {
  min-height: 1628px;
  .indentm;
}

.filters-box__list {
  list-style-type: none;
  .indentzero;
}

.filters-box__cell {
  display: flex;
  flex-direction: column;
}

.form__option {
  font-size: 13px;
  line-height: 24px;
  .indentm;
}

.filters-box__lable {
  font-size: 17px;
  line-height: 16px;
}

.filters-box__lable--green {
  color: @textgreen;
}

.filters-box__item {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

@media (min-width: @size-tablet) {
  .filters-box {
    min-height: 1628px;
  }
}

@media (min-width: @size-desktop) {
  .filters-box {
    min-height: 1518px;
  }
  .form-header {
    min-height: 255px;
  }
}
