.form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form__background {
  background-color: @grey;
}

.form-header {
  min-height: 177px;
  background-color: @grey;
  // height: 177px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__title {
  font-size: 27px;
  line-height: 30px;
  margin: 0;
}

@media (min-width: @size-tablet) {
  .form-header {
    min-height: 225px;
    background-color: @grey;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 15px;
  }

  .form-header::after {
    content: "";
    display: block;
    position: absolute;
    top: 305px;
    left: 0;
    right: 0;
    height: 34px;
    background: url("../img/bg-zigzag-fill.svg") no-repeat top center;
    background-size: contain;
  }
}
// @media (min-width: @size-desktop) {
//
// }
