.goods {
  // .indentzero;
  box-sizing: border-box;
}

.goods__background {
  background-color: @litegrey;
}
@media (min-width: @size-desktop) {
  .goods__background::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -125px;
    z-index: 2;
    left: 18px;
    right: 0;
    height: 30px;
    width: 1250px;
    background: url("../img/bg-zigzag-fill.svg") no-repeat center top;
    background-size: cover;
  }
}
