.goods-week {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  .indentm;
}

.goods-week__name {
  .titlefont;
  .indentzero;
}

.goods-week__item {
  font-size: 15px;
  line-height: 24px;
  padding-top: 7px;
  padding-bottom: 3px;
}

.goods-week__title {
  font-size: 17px;
  line-height: 20px;
  .indentzero;
}

.goods-week__header {
  margin-top: 27px;
}

.goods-week__field,
.goods-week__value {
  font-size: 15px;
  line-height: 20px;
  border-bottom: 2px solid @border;
}

.goods-week__field {
  padding-left: 15px;
}

.goods-week__price {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goods-week__field--grey,
.goods-week__item--grey,
.goods-week__price--grey,
.goods-week__value--grey {
  color: @textgrey;
}

.goods-week__img {
  box-sizing: border-box;
  width: 260px;
  height: 315px;
}

.goods-week__title--green {
  color: @textgreen;
}

.goods-week__link {
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: @borderbutton 2px solid;
  width: 260px;
  height: 52px;
  .text-button;
}

.goods-week__link:hover,
.goods-week__link:focus {
  background-color: #444444;
  color: #ffffff;
}

  .goods-week__link:active {
    background-color: #444444;
    color: rgba(255, 255, 255, 0.3);
  }

.goods-week__list {
  border-collapse: collapse;
  width: 260px;
  min-height: 120px;
  margin-bottom: 29px;
}

.goods-week__total {
  margin-bottom: 42px;
}

.goods-week::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 320;
  height: 6px;
  background: url("../img/bg-zigzag-line.svg") no-repeat top center;
  background-size: contain;
}

@media (min-width: @size-tablet) {
  .goods-week {
    padding: 0;
  }

  .goods-week__header {
    margin-top: 46px;
    margin-bottom: 42px;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
  }

  .goods-week__title {
    width: 76px;
    margin-right: 75px;
    margin-top: 5px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .goods-week__name {
    margin-left: 45px;
    font-size: 43px;
    line-height: 50px;
    display: flex;
    align-items: flex-start;
  }
  //
  .goods-week__list {
    margin-top: 33px;
    margin-left: 50px;
  }

  .goods-week__img {
    position: absolute;
    top: 153px;
    right: 50px;
    width: 334px;
    height: 404px;
  }

  .goods-week__item {
    width: 290px;
    font-size: 17px;
    line-height: 30px;
    margin-left: 50px;
    margin-top: 0;
  }

  .goods-week__link {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: @borderbutton 2px solid;
    width: 290px;
    height: 52px;
    margin-left: 50px;
  }

  .goods-week__price {
    width: 287px;
    padding-top: 27px;
    padding-bottom: 11px;
    font-size: 20px;
    line-height: 24px;
    margin-left: 50px;
  }

  .goods-week::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 17px;
    background: url("../img/bg-zigzag-line.svg") no-repeat top center;
    background-size: contain;
  }

  .goods-week__content {
    padding-bottom: 28px;
  }
}

@media (min-width: @size-desktop) {
  .goods-week__link {
    margin-bottom: 67px;
  }

  .goods-week__img {
    width: 525px;
    height: 636px;
    position: absolute;
    top: 72px;
    right: 53px;
  }

  .goods-week__title {
    order: 1;
    margin: 0;
  }

  .goods-week__name {
    font-size: 53px;
    line-height: 57px;
    // margin: 0;
    order: 2;
  }

  .goods-week__header {
    position: relative;
    z-index: 2;
    margin-top: 125px;
    margin-left: 100px;
    display: flex;
    justify-content: flex-start;
  }

  .goods-week__content {
    margin-left: 183px;
  }

  .goods-week__list {
    margin-top: 43px;
  }

  .goods-week__total {
    margin-top: 83px;
  }

  .goods-week::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 23px;
    background: url("../img/bg-zigzag-line.svg") no-repeat top center;
    background-size: cover;
  }
}
