.goods {
  // .indentzero;
  box-sizing: border-box;
  position: relative;
}

.goods__background {
  background-color: @litegrey;
}
@media (min-width: @size-desktop) {
  // .goods__background::after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 730px;
  //   z-index: 2;
  //   left: 0;
  //   right: 0;
  //   height: 30px;
  //   width: 1250px;
  //   background: url(../img/bg-zigzag-fill.svg) no-repeat center top;
  //   background-size: cover;
  // }
}
