.goods-week {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.goods-week__name {
  .titlefont;
  .indentzero;
}

.goods-week__item {
  width: 260px;
  font-size: 15px;
  line-height: 24px;
  padding-top: 7px;
  padding-bottom: 3px;
}

.goods-week__title {
  font-size: 17px;
  line-height: 20px;
  .indentzero;
}

.goods-week__header {
  margin-top: 25px;
  padding-left: 30px;
}

.goods-week__field,
.goods-week__value {
  font-size: 15px;
  line-height: 20px;
  border-bottom: 2px solid @border;
}

.goods-week__field {
  padding-left: 15px;
}

.goods-week__price {
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.goods-week__field--grey,
.goods-week__item--grey,
.goods-week__price--grey,
.goods-week__value--grey {
  color: @textgrey;
}

.goods-week__img {
  box-sizing: border-box;
  width: 260px;
  height: 315px;
  margin-left: 30px;
}

.goods-week__title--green {
  color: @textgreen;
}

.goods-week__link {
  background-color: #ffffff;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: @borderbutton 2px solid;
  width: 260px;
  height: 52px;
  .text-button;
  outline: none;
}

.goods-week__link:focus,
.goods-week__link:hover {
  background-color: #444444;
  color: #ffffff;
}

.goods-week__link:active {
  background-color: #444444;
  color: rgba(255, 255, 255, 0.3);
}

.goods-week__list {
  border-collapse: collapse;
  width: 260px;
  min-height: 120px;
  margin-bottom: 29px;
}

.goods-week__total {
  margin-bottom: 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goods-week__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.goods-week::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6px;
  background: url("../img/bg-zigzag-line.svg") no-repeat top center;
  background-size: cover;
}

@media (min-width: @size-tablet) {
  .goods-week {
    padding: 0;
  }

  .goods-week__header {
    margin-top: 42px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    width: 768px;
    align-content: flex-start;
    padding: 0;
  }

  .goods-week__title {
    width: 76px;
    margin-right: 75px;
    margin-top: 5px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .goods-week__info {
    align-items: flex-start;
  }

  .goods-week__total {
    width: 334px;
  }

  .goods-week__name {
    margin-left: 48px;
    font-size: 43px;
    line-height: 50px;
    display: flex;
    align-items: flex-start;
  }

  .goods-week__list {
    margin-top: 16px;
    margin-left: 50px;
    margin-bottom: 8px;
  }

  .goods-week__img {
    position: absolute;
    top: 149px;
    right: 51px;
    width: 334px;
    height: 404px;
  }

  .goods-week__item {
    width: 290px;
    font-size: 17px;
    line-height: 30px;
    margin-left: 50px;
  }

  .goods-week__link {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: @borderbutton 2px solid;
    width: 291px;
    height: 52px;
    margin-left: 53px;
  }

  .goods-week__price {
    width: 287px;
    padding-top: 27px;
    padding-bottom: 11px;
    font-size: 20px;
    line-height: 24px;
    margin-left: 50px;
  }

  .goods-week::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 17px;
    background: url("../img/bg-zigzag-line.svg") no-repeat top center;
    background-size: cover;
  }

  .goods-week__content {
    padding-bottom: 28px;
  }
}

@media (min-width: @size-desktop) {
  .goods-week {
    width: 1050px;
  }

  .goods-week__img {
    position: absolute;
    top: 68px;
    right: -5px;
    width: 525px;
    height: 636px;
  }

  .goods-week__header {
    width: 653px;
    margin-left: 50px;
    margin-top: 121px;
  }

  .goods-week__title {
    order: 1;
    margin: 0;
  }

  .goods-week__name {
    order: 2;
    z-index: 2;
    font-size: 53px;
    line-height: 57px;
    margin: 0;
  }

  .goods-week__item {
    margin-left: 180px;
  }

  .goods-week__list {
    margin-top: 27px;
    margin-left: 180px;
    width: 290px;
  }

  .goods-week__field {
    padding-left: 0px;
  }

  .goods-week__total {
    width: 650px;
    margin-top: 55px;
    margin-bottom: 67px;
  }

  .goods-week__price {
    margin: 0;
    padding-top: 47px;
    padding-bottom: 34px;
  }

  .goods-week__link {
    margin: 0;
  }

  .goods-week::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: -10px;
    width: auto;
    height: 34px;
    background: url(../img/bg-zigzag-line.svg) no-repeat top center;
    background-size: contain;
    transform: rotate(180deg);
  }
}
