.goods-header {
  width: @size-mobile;
  height: 283px;
  background: url("../img/hero-mobile@1x.jpg") no-repeat top;
  .indentzero;
}

.goods__slogan {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 75px;
  .indentm;
}
