.goods-menu {
  list-style-type: none;
  .indentzero;
}

.goods-menu__item {
  .indentauto
}

.goods-menu__link {
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.goods-menu__link--white {
  color: @textwhite;
}

.goods-menu__item--green {
  background-color: @primary-block-color;
}

.goods-menu__item--green2 {
  background-color: @secondary-block-color;
}
