
.modal {
//   background: #ffffff;
//   opacity: 0.1;
}

.modal__form {
  background: #ffffff;
  box-sizing: border-box;
  min-height: 336px;
  width: 320px;
  border: 1px solid @border;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 2px 0 #000000;
  position: absolute;
  // z-index: 2;
  // top: 1046px;
  // transform: translateX(-50%);
  // left: 50%;
}

.modal__button {
  width: 82px;
  height: 52px;
  border: 1px solid @border;
  background: none;
}

.modal__button--color {
  border: 1px solid #63d1bb;
}

.modal__size {
  width: 260px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-top: 21px;
  margin-bottom: 32px;
}

.modal__title {
  width: 150px;
  margin-bottom: 13px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
  .titlefont;
}

.modal__item {
  margin: 0;
}

.modal__item--grey {
  color: @textgrey;
}

.modal__add,
.modal__button {
  font-size: 17px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.modal__button--grey {
  color: @textgrey;
}

.modal__add--white {
  color: @textwhite;
}

.modal__add {
  background-color: #63d1bb;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 260px;
  height: 52px;
}

.modal__element {
  list-style-type: none;
}
@media (min-width: @size-tablet) {
  .modal__form {
    min-height: 336px;
    width: 566px;
    //position: absolute;
    //top: 1532px;
    //transform: translateX(-50%);
    //left: 50%;
  }
}
@media (min-width: @size-desktop) {
  .modal__form {
    //position: absolute;
    //top: 1114px;
    //  transform: translateX(-50%);
    //  left: 50%;
  }
}
