.modal {
  box-sizing: border-box;
  background-color: #ffffff;
  background-size: 100%;
  opacity: 0.9;
}

.modal__form {
  box-sizing: border-box;
  min-height: 336px;
  width: 320px;
  //position: absolute;
  //top: 1046px;
  //transform: translateX(-50%);
  //left: 50%;
  .indentm;
}

.modal__title {
  .titlefont;
}

.modal__item--grey {
  color: @textgrey;
}

.modal__add,
.modal__button {
  font-size: 17px;
  line-height: 16px;
  text-decoration: none;
}

.modal__button--grey {
  color: @textgrey;
}

.modal__add--white {
  color: @textwhite;
}

.modal__size {
  .indentzero;
  display: flex;
}

.modal__element {
  list-style-type: none;
}

@media (min-width: @size-tablet) {
  .modal__form {
    min-height: 336px;
    width: 566px;
    //position: absolute;
    //top: 1532px;
    //transform: translateX(-50%);
    //left: 50%;
  }
}

@media (min-width: @size-desktop) {
  .modal__form {
    //position: absolute;
    //top: 1114px;
    //  transform: translateX(-50%);
    //  left: 50%;
  }
}
