.page-header {
  box-sizing: border-box;
  position: relative;
}

.page-header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 79px;
  padding-top: 10px;
}

.page-header__logo:hover,
.page-header__logo:focus {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}

@media (min-width: @size-tablet) {
  .page-header {
    box-sizing: border-box;
    min-height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .page-header__logo {
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 48px;
  }

  .page-header__logo img {
    width: 113px;
    height: 46px;
  }
}

@media (min-width: @size-desktop) {
  .page-header__logo {
    position: absolute;
    left: 504px;
    top: 5px;
  }

  .page-header__logo img {
    width: 149px;
    height: auto;
  }

  .page-header {
    // width: 1150px;
    box-sizing: border-box;
    min-height: 89px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
