


/* сетка
.page-main {
display: flex;
flex-direction: column;
}


@media (min-width: @size-tablet) {
.page-main {
display: flex;
  }
}


@media (min-width: @size-descktop) {
.page-main {
display: flex;
  }
}
*/
