/* сетка
@media (min-width: @size-mobile) {
.page-header {
  display: flex;
  flex-direction: column;
}
}


@media (min-width: @size-tablet) {
.page-header {
display: flex;
  }
}


@media (min-width: @size-descktop) {
.page-header {
display: flex;
  }
}
*/
