.page-footer {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  position: relative;
  background-color: @grey;
  display: flex;
  flex-direction: column;
  min-height: 160px;
}

.page-footer__logo {
  display: none;
}

.copyright__item {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
}

@media (min-width: @size-tablet) {
  .page-footer {
    min-height: 143px;
    display: flex;
    flex-direction: row;
  }

  .page-footer__logo {
    display: inline-block;
  }
}

@media (min-width: @size-desktop) {
  .page-footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}
