.page-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.page-header__logo {
  box-sizing: border-box;
}

@media (min-width: @size-tablet) {
  .page-header {
    display: flex;
    flex-direction: row;
    min-height: 89px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-header__logo {
    position: absolute;
    transform: translateX(-50%);
    top: 20%;
    left: 30%;
  }
}

@media (min-width: @size-desktop) {
  .page-header__logo {
    position: absolute;
    transform: translateX(-50%);
    top: 20%;
    left: 50%;
  }
}
