/*
.page-footer {
  background-color: @grey;
}
// сетка
@media (min-width: @size-mobile) {
.page-footer {
  display: flex;
  flex-direction: column;
}
}


@media (min-width: @size-tablet) {
.page-footer {
display: flex;
  }
}


@media (min-width: @size-descktop) {
.page-footer {
display: flex;
  }
}
*/
