.site-list {
  list-style-type: none;
  .indentauto;
  min-width: 260px;
 display: flex;
}

.site-list__link {
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @textblack;
}
