.site-list {
  list-style-type: none;
  .indentzero;
  display: flex;
}

.site-list__link {
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: @textblack;
  display: flex;
}

.site-list__delivery {
  display: none;
}

.main-nav__first .site-list:nth-child(2) {
  display: none;
}

.site-list__item {
  display: flex;
  margin: 0;
  padding: 0;
}


@media (min-width: @size-tablet) {
  .site-list:first-child .site-list__link {
    font-size: 15px;
  }

  .site-list__delivery {
    .indentzero;
    display: flex;
    // justify-content: flex-end;
    // align-items: flex-end;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin-right: 50px;
  }
}

@media (min-width: @size-desktop) {
  .site-list:first-child .site-list__link {
    font-size: 17px;
  }

  .main-nav__first .site-list:nth-child(2) {
    display: flex;
  }
}
