.social {
  box-sizing: border-box;
}

.social__list {
  box-sizing: border-box;
  display: flex;
  list-style-type: none;
  width: 144px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
}

.social__active:hover,
.social__active:focus {
  fill: #46c1ae;
}

.social__active:active {
  opacity: 0.3;
}

.social__item {
  margin: 0;
  padding-top: 9px;
  padding-right: 6px;
}

@media (min-width: @size-desktop) {
  .social__item {
    padding-top: 15px;
  }
}
