@font-face {
font-family: "open sans";
src:
url("../fonts/opensans.woff2") format("woff2"),
url("../fonts/opensans.woff") format("woff");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "open sans";
src: url("../fonts/opensansbold.woff2") format("woff2"),
url("../fonts/opensansbold.woff") format("woff");
font-style: bold;
font-weight: bold;
}
