.indentzero {
  margin: 0;
  padding: 0;
}
.indentauto {
  margin-left: auto;
  margin-right: auto;
}

.indentm {
  padding-left: 30px;
  padding-right: 30px;
}

.titlefont {
  font-size: 25px;
  line-height: 30px;
}

.text-button {
  text-decoration: none;
  font-size: 18px;
  line-height: 20px;
  color: @textgrey;
  text-transform: uppercase;
}
