body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 27px;
  font-family: "open sans", Arial, sans-serif;
  color: #000000;
  font-style: normal;
  background-color: @basic-color;
}

img {
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}
